* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #dfffea;
}

.button {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid black;
  background-color: #7de8c4;
  padding-left: 30px;
  padding-right: 30px;
  font-size: small;
  margin-right: 7px;
  font-weight: bold;
  transition: 0.2s;
  text-decoration: none;
  color: black;
  margin-top: 5px;

  /**/

  display: inline-block;
}

.button:hover,
.button:active {
  background-color: #abf4dc;
  cursor: pointer;
}

.button:active {
  background-color: #5ec1a0;
}

/* --------------------
        Footer
  -------------------- */

footer {
  font-size: 3vh;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}

.material-icons {
  font-size: 3vh;
  color: black;
  animation: pulse 0.53s infinite ease-in-out reverse;
  padding: 2px;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
    color: #dfffea;
  }

  to {
    transform: scale(1.1);
    color: #1d6b51;
  }
}

input [type="checkbox"] {
  -webkit-appearance: none;
}
